.contact_button{
    text-decoration: none;
    background: #323232;
    color: #fff;
    display: inline-block;
    transition: .3s;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 30px;
}

.contact_button:hover{
    background: #fff;
    color: #323232;
}