body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
  color: #9f9f9f;
  background: #0F0F0F;
  line-height: 19.2px;
  /* overflow: hidden; */
  padding-top: 20px;
  padding-bottom: 50px;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

a:hover, a:focus, a{
  text-decoration: none;
}

/* div,a,li,ul{
  pointer-events: none;
} */

.shadow-box{
  box-shadow: rgba(0, 0, 0, .15) 0px 2px 8px 0px;
}
